.EditarProdutos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    form {
      width: 100%;
      max-width: 400px;
      background-color: #23afda;
      padding: 20px 50px 20px 20px;
      border: 1px solid #000000;
      border-radius: 5px;
  
      fieldset {
        border: none;
        padding: 0;
        margin: 0;
  
        legend {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 10px;
        }
  
        div {
          margin-bottom: 10px;
  
          label {
            display: block;
            font-weight: bold;
            font-size: 20px;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #000000;
            border-radius: 5px;
          }
        }
  
        button {
          background-color: #00ff00;
          color: #000000;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          font-weight: bold;

          &:hover {
            background-color: rgb(85, 255, 0);
          }

        }
      }
    }
  }
  