.ExcluirProdutos {
    text-align: center;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .produto-selecionado {
      margin-top: 20px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      h2 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      h3 {
        font-size: 16px;
        color: #ff0000;
        margin-bottom: 10px;
      }
  
      img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
  
      h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  
    button {
      font-size: 18px;
      padding: 10px 20px;
      margin-right: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  
      &:first-child {
        background-color: #ff0000;
        color: #fff;
  
        &:hover {
          background-color: #cc0000;
        }
      }
  
      &:last-child {
        background-color: #00c421;
  
        &:hover {
          background-color: #00ad1d;
        }
      }
    }
  }
  